<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>family</title>
	<link rel="stylesheet" type="text/css" href="../css/family.css">
	<link rel="stylesheet" type="text/css" href="../css/idangerous.swiper.css">
	<link rel="stylesheet" type="text/css" href="../css/idangerous.swiper.3dflow.css">
	<script type="text/javascript" href="../js/lib/idangerous.swiper.min.js"></script>
	<script type="text/javascript" href="../js/lib/idangerous.swiper.3dflow.js"></script>

	<script data-main='../js/apps/family.js' src='../js/lib/require.js'></script>
</head>
<body>

	<div class="header">
		<h1>Little Sweet</h1>
		<div class="foryou">
			<p>sunshine likes u</p>
			<p>happiness crush u as soon as possible</p>
			<p>loving around you,kissing you</p>
		</div>
		<div class="pic-wrap">
			<div class="swiper-container" style="width:700px;height:310px">
				<div class="swiper-wrapper">
				  <div class="swiper-slide" style="background-image:url(../image/brother/I.jpg);"></div>
				  <div class="swiper-slide" style="background-image:url(../image/brother/1.jpg);"></div>
				  <div class="swiper-slide" style="background-image:url(../image/brother/2.jpg);"></div>
				  <div class="swiper-slide" style="background-image:url(../image/brother/3.jpg);"></div>
				  <div class="swiper-slide" style="background-image:url(../image/brother/4.jpg);"></div>
				  <div class="swiper-slide" style="background-image:url(../image/brother/5.jpg);"></div>
				  <div class="swiper-slide" style="background-image:url(../image/brother/2.jpg);"></div>
				  <div class="swiper-slide" style="background-image:url(../image/brother/2.jpg);"></div>
				  <div class="swiper-slide" style="background-image:url(../image/brother/2.jpg);"></div>
				  <div class="swiper-slide" style="background-image:url(../image/brother/2.jpg);"></div>
				</div>
			</div>
			
		</div>
	</div>
	<div class="bar" onclick="window.location.href='index.html'">
		<figure>
			<img  src="../image/ice.png" alt="">
			<figcaption>首页</figcaption>
		</figure>
	</div>
	<div class="container">
	<h1>Something lovely exists in your body</h1>
	<h2>Could not durty time leave for my little sweeet</h2>
		<div class="piece one">
			<div class="left" style="background-image:url(../image/brother/4.jpg);"></div>
			<div class="right"></div>
			<div class="right"></div>
			<div class="left" style="background-image:url(../image/brother/4.jpg);"></div>
			<div class="left" style="background-image:url(../image/brother/4.jpg);"></div>
			<div class="right"></div>
			<div class="right"></div>
			<div class="left" style="background-image:url(../image/brother/4.jpg);"></div>

		</div>
		<div class="piece two"></div>
		<div class="piece three"></div>
		<div class="piece four"></div>
	</div>

</body>
</html>