<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../css/home.css">
	<link rel="stylesheet" href="../css/idangerous.swiper.css">

	<script data-main="../js/apps/home.js" src="../js/lib/require.js"></script>
</head>
<body>
	<div class="head">
		<div class="head-Bg">
			<div class="logo"><h1>LOGO素材平台</h1></div>
			<div class="search-box">
				<form id="search_content" class="search-content">
					<input type="text" id="contents" class="keywords">
					<input type="submit" value="" class="icon">
				</form>
			</div>
			<div class="nav">
				<ul class="nav-ul">
					<li class="item">开通会员</li>
					<li class="item">上传</li>
					<li class="item">消息</li>
					<li class="item">播放记录</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="info">
		<div class="swiper-container">
			<ul class="swiper-wrapper">
				<li class="swiper-slide" style="background-image:url('http://i0.letvimg.com/lc05_iscms/201702/03/00/15/375e0b3f3d3446a6a1318bb9508dcad1.jpg');opacity: 0.98;">
					
				</li>
				<li class="swiper-slide" style="background-image:url('http://i2.letvimg.com/lc04_iscms/201702/03/01/12/51fbcd2491fd457a865522e96c21d5d8.jpg');opacity: 0.98;"></li>
				<li class="swiper-slide" style="background-image:url(http://i0.letvimg.com/lc04_iscms/201701/20/16/11/1d942e94f3474120a3401b9babcfd836.jpg);opacity: 0.98;"></li>
				<li class="swiper-slide" style="background-image:url(http://i3.letvimg.com/lc07_iscms/201702/03/00/41/a7edd1cfaad14c989757921da63e00f2.jpg);opacity: 0.98;"></li>
				<li class="swiper-slide" style="background-image:url(http://i1.letvimg.com/lc07_iscms/201702/03/17/01/731f17ab9586489d8018f4521fd94f75.jpg);opacity: 0.98;"></li>
				<li class="swiper-slide" style="background-image:url(http://i1.letvimg.com/lc06_iscms/201702/03/16/07/0f10857d142b41ac995d71b97f381ba5.jpg);opacity: 0.98;"></li> <li class="swiper-slide" style="background-image:url(http://i1.letvimg.com/lc06_iscms/201702/03/16/07/0f10857d142b41ac995d71b97f381ba5.jpg);opacity: 0.98;"></li> <li class="swiper-slide" style="background-image:url(http://i0.letvimg.com/lc06_iscms/201702/03/21/21/7567b82d2ce74422bbef780b5d54e260.jpg);opacity: 0.98;"></li> 
				<li class="swiper-slide" style="background-image:url(http://i0.letvimg.com/lc07_iscms/201701/29/18/03/80dd3eb6066245478ebd48c36cfe84c1.jpg);opacity: 0.98;"></li> 
				<li class="swiper-slide" style="background-image:url(http://i0.letvimg.com/lc04_iscms/201701/30/22/53/4f1c476986b843ea99634ced8ad44de1.jpg);opacity: 0.98;"></li>
			</ul>
			<div class="top">
				<div class="pagination"></div>
				<ul class="pagination top-nav">
					<li class="swiper-pagination-switch">
						<a title="十里桃花：杨幂赵又廷被赐婚" target="_blank" href="http://tv.le.com/izt/ssssslth/index.html?ref=index_focus_4">
        十里桃花：杨幂赵又廷被赐婚
        </a>
					</li>
					<li class="swiper-pagination-switch">
						<a title="孤芳：小哇闻香识人暗寻baby" target="_blank" href="http://tv.le.com/izt/gfbzs/index.html?ref=index_focus_2">
        孤芳：小哇闻香识人暗寻baby
        </a>
					</li>
					<li class="swiper-pagination-switch">
						<a title="让爱先回家 双摄手机壕馈乐迷" target="_blank" href="http://www.lemall.com/cn/sale/kpxnl.html?cps_id=ley_syjdt_pc_sj_170120_cjnh&amp;ref=index_focus_3">
        让爱先回家 双摄手机壕馈乐迷
        </a>
					</li>
					<li class="swiper-pagination-switch">
						<a title="单身战争：3女抢1男鞋子踢飞" target="_blank" href="http://zongyi.le.com/izt/solowars/index.html?ref=index_focus_1">
        单身战争：3女抢1男鞋子踢飞
        </a>
					</li>
					<li class="swiper-pagination-switch">
						<a title="二十四小时首播：韩庚变大魔王" target="_blank" href="http://www.le.com/ptv/vplay/27590044.html?ref=index_focus_5">
        二十四小时首播：韩庚变大魔王
        </a>
					</li>
					<li class="swiper-pagination-switch">
						<a title="我们的选择·张柏芝遭四男告白" target="_blank" href="http://www.le.com/ptv/vplay/27587069.html?ref=index_focus_6">
        我们的选择·张柏芝遭四男告白
        </a>
					</li>
					<li class="swiper-pagination-switch">
						<a title="逗你没商量 辽宁春晚最精彩" target="_blank" href="http://zongyi.le.com/izt/2017chunwan/index.html?ref=index_focus_7">
        逗你没商量 辽宁春晚最精彩
        </a>
					</li>
					<li class="swiper-pagination-switch">
						<a title="最强大脑：海归天才宣战水哥" target="_blank" href="http://www.le.com/ptv/vplay/27590042.html?ref=index_focus_8">
        最强大脑：海归天才宣战水哥
        </a>
					</li>
					<li class="swiper-pagination-switch">
						<a title="我们的选择·王心凌被鱼刺卡到" target="_blank" href="http://www.le.com/ptv/vplay/27560980.html?ref=index_focus_9">
        我们的选择·王心凌被鱼刺卡到
        </a>
					</li>
					<li class="swiper-pagination-switch">
						<a title="大鱼海棠：打造中国版千与千寻" target="_blank" href="http://www.le.com/ptv/vplay/26680567.html?ref=index_focus_10">
        大鱼海棠：打造中国版千与千寻
        </a>
					</li>

				</ul>
			</div>

		</div>
	</div>
	<div class="top-foot">
		<div class="item1 foot-nav">
			<div class="tip">
				<ul>
		            <li><a href="//tv.le.com">电视剧</a></li><li><a href="//zongyi.le.com">综艺</a></li><li><a href="//www.lesports.com/" target="_blank">体育</a></li><li><a href="//ent.le.com">娱乐</a></li><li class="nav_movie"><a href="//movie.le.com">电影</a></li><li><a href="//best.le.com">自制</a></li><li><a href="//music.le.com">音乐</a></li><li><a href="//news.le.com">资讯</a></li>
		        </ul>
			</div>
			<div class="tip">
				<ul>
		            <li><a href="//comic.le.com">动漫</a></li><li><a href="//edu.le.com">教育</a></li><li><a href="//finance.le.com">财经</a></li><li><a href="//tech.le.com">科技</a></li><li><a href="//qinzi.le.com">亲子</a></li><li><a href="//chuang.le.com">原创</a></li><li><a href="//auto.le.com">汽车</a></li><li><a href="//jilu.le.com">纪录片</a></li>
		        </ul>
			</div>
			<div class="tip">
				<ul>
		            <li><a href="//hot.le.com/">生活</a></li><li><a href="//travel.le.com">旅游</a></li><li><a href="//pets.le.com">宠物</a></li><li><a href="//live.le.com">直播</a></li><li><a href="//fun.le.com">搞笑</a></li><li><a href="//fashion.le.com">风尚</a></li><li><a href="//paike.le.com">拍客</a></li><li><a href="//games.le.com">游戏</a></li>
		        </ul>
			</div>
			<div class="tip">
				<ul>
		            <li><a href="//gongyi.le.com">公益</a></li><li><a href="//levr.le.com">乐视VR</a></li><li><a href="//tv.le.com/izt/gfbzs/index.html" target="_blank">孤芳</a></li><li><a href="//cn.ff.com/zh-hans/" target="_blank">FF预购</a></li>
		        </ul>
			</div>
			
		</div>
		<div class="item1 shop">
			<ul>
	            <li><a href="//www.lemall.com/letvLink.html?tp=0" target="_blank">乐视商城</a></li><li><a href="//www.lemall.com/letvLink.html?tp=2" target="_blank">超级手机</a></li><li><a href="//www.wangjiu.com/" target="_blank">网酒网</a></li><li><a href="//www.leeco.com/" target="_blank">LeEco</a></li><li><a href="//bbs.le.com/" target="_blank">乐迷社区</a></li><li><a href="//www.lemall.com/letvLink.html?tp=1" target="_blank">超级电视</a></li><li><a href="//mobile.le.com/?ref=2035" target="_blank">乐视APP下载</a></li>
	        </ul>
		</div>
		<div class="item1 vip">
			<p class="vip-logo">
				<a href="http://yuanxian.le.com/?ref=ym0101"><img src="http://i2.letvimg.com/lc05_img/201612/30/11/37/vip.png" style="width:24px;height:24px;"><span>会员</span></a>
			</p>
			<p class="vip-tip">
				<a class="a1" href="http://list.le.com/listn/c1_t-1_a-1_y-1_s1_lg-1_ph2_md_o9_d1_p.html?ref=ym0101" target="_blank">热映大片</a>
        		<a class="a2" href="https://zhifu.le.com/tobuy/regular?ref=ym0101#type=15" target="_blank">买一送一</a>
			</p>
		</div>
	</div>
</body>
</html>